<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>
</head>
<body>
<h1>Lorem Ipsum Generator</h1>
<!-- formularz to odpowiednik skannera dla javy
służy do odczytu danych od użytkownika-->
<!-- określa gdzie ma przejść (adres url) po kliknieciu w przycisk formularza-->0
<form action="/result">


    <label>Podaj ile wyrazów wygenerować</label>
    <!-- odpowiednik deklaracji zmiennej int count;
     name w input jest to nazwa zmienneji
     w HTTP zmienna nazywa sie parametr-->
    <input type="number" name="count">
    <input type="submit" value="Generuj">



</form>
</body>
</html>